<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <!-- CDN de hojas de estilo de bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
     

