<!-- Incluimos el header que se guardo en el forder de parciales -->
<% include parciales/header %>

<h1>Home Page</h1>
<p>Bienvenidos a YelpCamp</p>
<a href="/sitiosparaacampar">Ver todos los sitios para acampar.</a>

<!-- Incluimos el footer que se guardo en el forder de parciales -->
<% include parciales/footer %>