<!-- Incluimos el header que se guardo en el forder de parciales -->
<% include parciales/header %>

<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" name="user" placeholder="User">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

<!-- Incluimos el footer que se guardo en el forder de parciales -->
<% include parciales/footer %>