<!-- Incluimos el header que se guardo en el forder de parciales -->
<% include parciales/header %>

<h1><%= campamentoEncontrado.nombreCampamento %></h1>
<img src="<%= campamentoEncontrado.imagenCampamento %>">
<p><%= campamentoEncontrado.descripcionCampamento %> </p>

<!-- Incluimos el footer que se guardo en el forder de parciales -->
<% include parciales/footer %>