<h1>Hola k ase se registra o k ase</h1>
<form action="/registro" method="POST">
    <input type="text" name="username" placeholder="Nombre Usuario">
    <input type="password" name="password" placeholder="Password">
    <button>Registro</button>
</form>